*{
    margin: 0;
    padding: 0;
}

html {
    background: url(./assets/background.jpg);
    background: url(./assets/background_2.jpg);
    width: 705px;
    height: 1004px;
    margin: 0 auto;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Vollkorn', serif;
    text-transform: uppercase;
}

p {
    color: #494843;
    font-size: 11px;
}

span, li {
    font-family: 'Didact Gothic', sans-serif;
    text-transform: capitalize; 
    color: #ae9d8b;
    font-size: 12px;
}

.wrapper {
    position: relative;
}

input {
    position: absolute;
    background: transparent;
    border: none;
    outline: none;
    z-index: 1;
    text-align: center;
    font-family: 'Vollkorn', serif;
    text-transform: uppercase;
    color: #494843;
}

img {
    z-index: -1;
}

/* skills section */

.skills {
    height: 370px;
    display: block;
    width: 185px;
    position: absolute;
    top: 27px;
    left: 39px;
}

.skill {
    display: flex;
}

.skill.offence {
    margin-left: 9px;
    margin-top: 11px;
}

.skill.defence {
    margin-left: 3px;
    margin-top: 9px;
}

.skill.spell_power {
    margin-left: -11px;
    margin-top: 22px;
}

.skill.knowlege {
    margin-left: 3px;
    margin-top: 22px;
}

.skill_name {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 11px;
}

.skill_name img {
    position: absolute;
}

.skill.offence .skill_name img {
    width: 452px;
    top: -76px;
    left: -49px;
}

.skill.defence .skill_name img {
    width: 510px;
    top: -89px;
    left: -51px;
}

.skill.spell_power .skill_name img {
    width: 492px;
    top: -87px;
    left: -36px;
}

.skill.knowlege .skill_name img {
    width: 488px;
    top: -89px;
    left: -153px;
}

.skill_stage {
    display: flex;
    position: relative;
}

.skill.offence .skill_stage{
    margin-top: 27px;
    margin-left: 13px;
}

.skill.defence .skill_stage{
    margin-top: 27px;
    margin-left: 10px;
}

.skill.spell_power .skill_stage{
    margin-top: 14px;
    margin-left: -3px;
}

.skill.knowlege .skill_stage{
    margin-top: 13px;
    margin-left: 10px;
}

.skill_step {
    display: flex;
    flex-direction: column;
    letter-spacing: -0.7px;
}

.skill_step span:first-of-type {
    margin-bottom: 19px;
}

.skill_step-form {
    left: 36px;
    position: absolute;
    top: 3px;

}

.skill_step-lines div {
    position: absolute;
}

.skill_step-line-top {
    left: 8px;
    top: 8px;
    border: 1px solid #C9b999;
    width: 24px;
}

.skill_step-line-right-container {
    top: 8px;
    height: 35.5px;
    width: 20px;
    left: 32px;
    overflow: hidden;
}

.skill_step-line-right {
    width: 24px;
    height: 26px;
    transform: rotate(62deg) skew(32deg);
    border: 6px double #C9b999;
    border-left: none;
    border-bottom: none;
    top: 5px;
    left: -15px;
}

.skill_step-line-bottom {
    left: -5px;
    top: 42px;
    border: 1px solid #C9b999;
    width: 37px;
}

.skill_step-line-top input,
.skill_step-line-bottom input {
    top: -15px;
    left: 0;
}

.skill_step-line-top input {
    width: 25px;
}

.skill_step-line-bottom input {
    width: 37px;
}

.skill_step-accept {
    height: 37px;
    width: 37px;
    background: white;
    border: 2px solid #C9b999;
    border-radius: 50%;
    top: 6px;
    position: absolute;
    left: 51px;
}

.skill_step-accept input {
    left: 3px;
    top: 4px;
    width: 31px;
    height: 31px;
    border-radius: 35%;
}

/* skills end section */

/* ability_table section */

.ability_table-wrapper {
    position: absolute;
    left: 40px;
    top: 422px;
}

.ability_table-header {
    font-size: 11px;
    display: flex;
    border-bottom: 2px solid #C9b999;
}

.ability_table-header p:first-child {
    margin-right: 26px;
    padding-left: 3px;
}

.ability_table-header p:nth-child(2) {
    margin-right: 16px;
}

.ability_table-header p:nth-child(3) {
    margin-right: 10px;
}

.ability_table-header p:nth-child(4) {
    padding-right: 8px;
}

.ability_table-body {
    display: flex;
}

.ability_table-list {
    margin-top: 8px;
    margin-right: 3px;
}

.ability_table-list ol {
    text-indent: 3px;
}

.ability_table-list li {
    font-size: 11px;
    margin-bottom: 6.3px;
    letter-spacing: -0.5px;
    width: max-content;
}

.ability_table-list li.custom_number {
    list-style: none;
}

.ability_table-list li.custom_number::before {
    content: '20.1';
    display: inline-block;
    margin-right: 4px;
    margin-left: -20px;
}

.ability_table-list li.custom_number:last-of-type::before {
    content: '20.2';
}

.ability_table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    height: 435px;
}

.ability_table td {
    border: 2px dotted #C9b999;
    border-left: none;
    border-top: none;
    width: 33%;
    height: 10px;
    position: relative;
}

.ability_table td input {
    top: 2px;
    width: 18px;
}

.ability_table .custom-checkbox+label{
    position: absolute;
    top: 0;
}

.ability_table .custom-checkbox+label::before {
    width: 20px;
    height: 20px;
}

.ability_table tr:last-of-type td {
    border-bottom: none;
}

/* ability_table end section */

/* spell_book section */

.spell_book {
    position: absolute;
    top: 897px;
    left: 101px;
}

.spell_book img {
    position: absolute;
    display: block;
    width: 607px;
    top: -139px;
    left: -125px;
}

.spell_book-square {
    width: 26px;
    height: 26px;
    margin-top: 4px;
}

.spell_book-square .custom-checkbox+label::before{
    height: 26px;
    width: 26px;
    border: 2px solid #C9b999;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    /* border: 1px solid #adb5bd; */
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
    border-color: #C9b999;
    background-color: #C9b999;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #E7DAD1;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active+label::before {
    background-color: #E7DAD1;
    border-color: #E7DAD1;
}
/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus+label::before {
    box-shadow: #E7DAD1;
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked)+label::before {
    border-color: #E7DAD1;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled+label::before {
    background-color: #E7DAD1;
}

/* spell_book end section */

/* user_info section */

.user_info {
    position: absolute;
    top: 38px;
    left: 248px;
    width: 229px;
}

.user_info-block {
    display: flex;
    margin-bottom: 5px;
}

.user_info-line {
    border-bottom: 2px solid #C9b999;
    width: 100%;
    margin-left: 17px;
    margin-bottom: 4px;
    position: relative;
}

.user_info-line input{
    top: -4px;
    text-align: left;
    width: 180px;
}

/* user_info end section */

/* main_stats section */

.main_stats {
    position: absolute;
    display: flex;
    top: 98px;
    left: 248px;
}

.main_stats-square {
    border: 2px solid #C9b999;
    height: 101px;
    width: 64px;
    margin-top: 2px;
    margin-left: -4px;
    position: relative;
}

.main_stats-square-small {
    border: 2px solid #C9b999;
    height: 38px;
    width: 64px;
    margin-top: 2px;
    margin-left: -4px;
    position: relative;
}

.main_stats-square input,
.main_stats-square-small input {
    width: 64px;
    height: 38px;
}

.main_stats-square input.stat-max {
    bottom: 0;
}

.main_stats span {
    text-transform: lowercase;
    position: absolute;
    font-size: 11px;
    top: 85px;
    left: 41px;
}

.main_stats-line {
    position: absolute;
    border-bottom: 2px solid #C9b999;
    width: 72px;
    top: 58px;
    left: -4px;
    transform: rotateZ(22deg);
}

.main_stats-block {
    margin-right: 22px;
}

.main_stats-block.injuries p {
    margin-left: 3px;
}

.main_stats-block.mana p {
    margin-left: 13px;
}

/* main_stats end section */

/* person section */

.person {
    position: absolute;
    top: 150px;
    left: 174px;
}

.person img {
    width: 321px;
}

/* person end section */

/* spells section */

.spells {
    position: absolute;
    top: 660px;
    left: 188px;
    width: 318px;
}

.spells p {
    font-size: 14px;
}

table.spells_table{
    font-family: 'Didact Gothic', sans-serif;
    border-collapse: collapse;
    font-size: 11px;
    color: #ae9d8b;
    margin-top: 6px;
    margin-left: -2px;
    letter-spacing: -0.7px;
}

table.spells_table td {
    padding: 0px;
    font-size: 11px;
    text-align: center;
    text-transform: capitalize;
    position: relative;
}

table.spells_table td input {
    top: 0;
    left: 0;
    height: 14px;
}

table.spells_table td:nth-child(2) input {
    width: 44px;
}

table.spells_table td:nth-child(3) input {
    width: 101px;
}

table.spells_table td:nth-child(4) input {
    width: 133px;
}

table.spells_table tr:nth-child(even){
    background-color: transparent;
}

table.spells_table tr:nth-child(odd){
    background-color: #E7DAD1;
}

table.spells_table tr:last-of-type{
    background-color: #c8beb4;
}

table.spells_table tr{
    background-color: #EBEBEB;
    height: 14px;
}

table.spells_table tr td:first-of-type {
    text-align: left;
    padding-left: 5px;
}

table.spells_table tr td:not(:last-of-type) {
    border-right: 2px solid #C9b999;
}

/* spells end section */

/* lvl section */

.lvl {    
    position: absolute;
    top: -126px;
    left: 283px;
}

.lvl img {
    width: 450px;
}

.lvl_wrapper {
    position: absolute;
    top: 271px;
    left: 234px;
    display: flex;
}

.lvl-block {
    margin-right: 47px;
}

.lvl-ring {
    height: 41px;
    width: 41px;
    border: 2px solid #C9b999;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 2px;
    position: relative;
}

.lvl-square {
    height: 41px;
    width: 65px;
    border: 2px solid #C9b999;
    margin-top: 5px;
    margin-left: -19px;
    position: relative;
}

.lvl-ring input,
.lvl-square input {
    height: 41px;
}

.lvl-ring input {
    width: 41px;
}

.lvl-square input {
    width: 65px;
}

/* lvl end section */

/* speciality section */

.speciality {
    position: absolute;
    top: 237px;
    left: 453px;
}

.speciality-block {
    display: flex;
    margin-bottom: 12px;
}

.speciality-block:last-of-type {
    margin-left: 41px;  
}

.speciality-block p {
    letter-spacing: -0.7px;
}

.speciality-line {
    display: block;
    border-bottom: 2px solid #C9b999;
    width: 116px;
    margin-left: 6px;
    margin-bottom: 4px;
    position: relative;
}

.speciality-line input {
    top: -4px;
    left: 0;
    width: 116px;
    text-align: left;
}

/* speciality end section */

/* equipment section */

.equipment {
    position: absolute;
    top: 306px;
    left: 508px;
}

.equipment p {
    text-transform: capitalize;
    line-height: 12px;
}

.equipment_elem {
    margin-bottom: 30px;
}

.equipment_elem-name {
    border-bottom: 2px solid #C9b999;
    width: 146px;
    padding-left: 11px;
    margin-bottom: 8px;
    position: relative;
}

.equipment_elem-name input {
    top: -4px;
    left: 55px;
    text-align: left;
    width: 105px;
}

.equipment_elem-point {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #C9b999;
    position: absolute;
}

.equipment_elem.helmet .equipment_elem-point {
    top: -66px;
    left: -145px;  
}

.equipment_elem-line {
    border-bottom: 2px solid #C9b999;
    position: absolute;
}

.equipment_elem.helmet .equipment_elem-line {
    width: 160px;
    top: -25px;
    left: -151px;
    transform: rotateZ(28deg);
}

.equipment_elem.armor {
    margin-bottom: 12px;
}

.equipment_elem.armor .equipment_elem-name {
    margin-bottom: 9px;
}

.equipment_elem.armor .equipment_elem-point {
    top: 3px;
    left: -145px;  
}

.equipment_elem.armor .equipment_elem-line {
    width: 160px;
    top: 43px;
    left: -151px;
    transform: rotateZ(27deg);
}

.equipment_elem.shield .equipment_elem-point {
    top: 103px;
    left: -53px;  
}

.equipment_elem.shield .equipment_elem-line {
    width: 50px;
    top: 118px;
    left: -48px;
    transform: rotateZ(25deg);
}

.equipment_elem.long_range .equipment_elem-point {
    top: 70px;
    left: -236px;
}

.equipment_elem.long_range .equipment_elem-line {
    width: 260px;
    top: 130px;
    left: -247px;
    transform: rotateZ(26deg);
}

.equipment_elem.long_range .equipment_elem-name input,
.equipment_elem.short_range .equipment_elem-name input {
    top: 8px;
    left: 60px;
}

.equipment_elem.short_range .equipment_elem-point {
    top: 134px;
    left: -238px;  
}

.equipment_elem.short_range .equipment_elem-vert-line {
    border-left: 2px solid #C9b999;
    position: absolute;
    height: 27px;
    top: 140px;
    left: -235px;
}

.equipment_elem.short_range .equipment_elem-line {
    width: 258px;
    top: 220px;
    left: -246px;
    transform: rotateZ(25deg);
}

.equipment_elem.shield {
    margin-bottom: 10px;
}

.equipment_elem.shield .equipment_elem-name {
    margin-bottom: 7px;
}

.equipment_elem.long_range {
    margin-bottom: 18px;
}

.equipment_elem.short_range .equipment_elem-name {
    margin-bottom: 10px;
}

.equipment_elem.short_range .equipment_elem-bonus {
    margin-bottom: 9px;
}

.equipment_elem-bonus {
    border-bottom: 2px solid #C9b999;
    margin-left: 52px;
    line-height: 12px;
    font-size: 11px;
    letter-spacing: -0.7px;
    padding-left: 1px;
    margin-bottom: 6px;
    position: relative;
}

.equipment_elem-bonus input {
    top: -2px;
    left: 32px;
    width: 75px;
    text-align: left;
}

/* equipment end section */

/* inventory section */

.inventory {
    position: absolute;
    top: 653px;
    left: 518px;
}

.inventory p {
    letter-spacing: -0.3px;
    margin-bottom: 2px;
}

.inventory_line {
    border-bottom: 2px solid #C9b999;
    width: 147px;
    margin-bottom: 13px;
    position: relative;
}

.inventory_line input {
    top: -14px;
    width: 147px;
    text-align: left;
}

.inventory_block .inventory_line:last-of-type {
    margin-bottom: 10px;
}

.inventory_block.second .inventory_line {
    margin-bottom: 14px;    
}

/* inventory end section */

/* gold section */

.gold {
    position: absolute;
    top: 917px;
    left: 519px;
}

.gold_square {
    height: 24px;
    width: 71px;
    border: 2px solid #C9b999;
    position: relative;
}

.gold_square input {
    width: 71px;
    height: 24px;
}

.gold img {
    position: absolute;
    top: -47px;
    left: 53px;
    width: 107px;
}

/* gold end section */