*{
    margin: 0;
    padding: 0;
}

html {
    background: url(./assets/background.jpg);
    /* background: url(./assets/background_2.jpg); */
    width: 705px;
    height: 1004px;
    margin: 0 auto;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Vollkorn', serif;
    text-transform: uppercase;
}

p {
    color: #494843;
    font-size: 11px;
}

span, li {
    font-family: 'Didact Gothic', sans-serif;
    text-transform: capitalize; 
    color: #ae9d8b;
    font-size: 12px;
}

.wrapper {
    position: relative;
}

/* skills section */

.skills {
    height: 370px;
    display: block;
    width: 185px;
    position: absolute;
    top: 27px;
    left: 39px;
}

.skill {
    display: flex;
}

.skill.offence {
    margin-left: 9px;
    margin-top: 11px;
}

.skill.defence {
    margin-left: 3px;
    margin-top: 9px;
}

.skill.spell_power {
    margin-left: -11px;
    margin-top: 22px;
}

.skill.knowlege {
    margin-left: 3px;
    margin-top: 22px;
}

.skill_name {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 11px;
}

.skill_name img {
    position: absolute;
}

.skill.offence .skill_name img {
    width: 452px;
    top: -76px;
    left: -49px;
}

.skill.defence .skill_name img {
    width: 510px;
    top: -89px;
    left: -51px;
}

.skill.spell_power .skill_name img {
    width: 492px;
    top: -87px;
    left: -36px;
}

.skill.knowlege .skill_name img {
    width: 488px;
    top: -89px;
    left: -153px;
}

.skill_stage {
    display: flex;
    position: relative;
}

.skill.offence .skill_stage{
    margin-top: 27px;
    margin-left: 13px;
}

.skill.defence .skill_stage{
    margin-top: 27px;
    margin-left: 10px;
}

.skill.spell_power .skill_stage{
    margin-top: 14px;
    margin-left: -3px;
}

.skill.knowlege .skill_stage{
    margin-top: 13px;
    margin-left: 10px;
}

.skill_step {
    display: flex;
    flex-direction: column;
    letter-spacing: -0.7px;
}

.skill_step span:first-of-type {
    margin-bottom: 19px;
}

.skill_step-form {
    left: 36px;
    position: absolute;
    top: 3px;

}

.skill_step-lines div {
    position: absolute;
}

.skill_step-line-top {
    left: 8px;
    top: 8px;
    border: 1px solid #C9b999;
    width: 24px;
}

.skill_step-line-right-container {
    top: 8px;
    height: 35.5px;
    width: 20px;
    left: 32px;
    overflow: hidden;
}

.skill_step-line-right {
    width: 24px;
    height: 26px;
    transform: rotate(62deg) skew(32deg);
    border: 6px double #C9b999;
    border-left: none;
    border-bottom: none;
    top: 5px;
    left: -15px;
}

.skill_step-line-bottom {
    left: -5px;
    top: 42px;
    border: 1px solid #C9b999;
    width: 37px;
}

.skill_step-accept {
    height: 37px;
    width: 37px;
    background: white;
    border: 2px solid #C9b999;
    border-radius: 50%;
    top: 6px;
    position: absolute;
    left: 51px;
}

/* skills end section */

/* ability_table section */

.ability_table-wrapper {
    position: absolute;
    left: 40px;
    top: 422px;
}

.ability_table-header {
    font-size: 11px;
    display: flex;
    border-bottom: 2px solid #C9b999;
}

.ability_table-header p:first-child {
    margin-right: 26px;
    padding-left: 3px;
}

.ability_table-header p:nth-child(2) {
    margin-right: 16px;
}

.ability_table-header p:nth-child(3) {
    margin-right: 10px;
}

.ability_table-header p:nth-child(4) {
    padding-right: 8px;
}

.ability_table-body {
    display: flex;
}

.ability_table-list {
    margin-top: 8px;
    /* margin-left: 4px; */
}

.ability_table-list ol {
    text-indent: 3px;
}

.ability_table-list li {
    font-size: 11px;
    margin-bottom: 6.3px;
    letter-spacing: -0.5px;
    width: max-content;
}

.ability_table-list li.custom_number {
    list-style: none;
}

.ability_table-list li.custom_number::before {
    content: '20.1';
    display: inline-block;
    margin-right: 4px;
    margin-left: -20px;
}

.ability_table-list li.custom_number:last-of-type::before {
    content: '20.2';
}

.ability_table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    height: auto;
}

.ability_table td {
    border: 2px dotted #C9b999;
    border-left: none;
    border-top: none;
    width: 33%;
    height: 10px;
}

.ability_table tr:last-of-type td {
    border-bottom: none;
}

/* ability_table end section */

/* spell_book section */

.spell_book {
    position: absolute;
    top: 897px;
    left: 101px;
}

.spell_book img {
    position: absolute;
    display: block;
    width: 607px;
    top: -139px;
    left: -125px;
}

.spell_book-square {
    width: 26px;
    height: 26px;
    border: 2px solid #C9b999;
    margin-top: 4px;
}

/* spell_book end section */

/* user_info section */

.user_info {
    position: absolute;
    top: 38px;
    left: 248px;
    width: 229px;
}

.user_info-block {
    display: flex;
    margin-bottom: 5px;
}

.user_info-line {
    border-bottom: 2px solid #C9b999;
    width: 100%;
    margin-left: 17px;
    margin-bottom: 4px;
}

/* user_info end section */

/* main_stats section */

.main_stats {
    position: absolute;
    display: flex;
    top: 98px;
    left: 248px;
}

.main_stats-square {
    border: 2px solid #C9b999;
    height: 101px;
    width: 64px;
    margin-top: 2px;
    margin-left: -4px;
    position: relative;
}

.main_stats-square-small {
    border: 2px solid #C9b999;
    height: 38px;
    width: 64px;
    margin-top: 2px;
    margin-left: -4px;
    position: relative;
}

.main_stats span {
    text-transform: lowercase;
    position: absolute;
    font-size: 11px;
    top: 85px;
    left: 41px;
}

.main_stats-line {
    position: absolute;
    border-bottom: 2px solid #C9b999;
    width: 72px;
    top: 58px;
    left: -4px;
    transform: rotateZ(22deg);
}

.main_stats-block {
    margin-right: 22px;
}

.main_stats-block.injuries p {
    margin-left: 3px;
}

.main_stats-block.mana p {
    margin-left: 13px;
}

/* main_stats end section */

/* person section */

.person {
    position: absolute;
    top: 150px;
    left: 174px;
}

.person img {
    width: 321px;
}

/* person end section */

/* spells section */

.spells {
    position: absolute;
    top: 660px;
    left: 188px;
    width: 318px;
}

.spells p {
    font-size: 14px;
}

table.spells_table{
    font-family: 'Didact Gothic', sans-serif;
    /* font-family: 'helvetica neue',helvetica,arial,'lucida grande',sans-serif; */
    border-collapse: collapse;
    font-size: 11px;
    color: #ae9d8b;
    margin-top: 6px;
    margin-left: -2px;
    letter-spacing: -0.7px;
}
table.spells_table td{
    /* border: solid 1px #C9C9C9; */
    padding: 0px;
    font-size: 11px;
    text-align: center;
    text-transform: capitalize;
}
table.spells_table tr:nth-child(even){
    background-color: transparent;
}
table.spells_table tr:nth-child(odd){
    background-color: #E7DAD1;
}
table.spells_table tr{
    background-color: #EBEBEB;
    height: 14px;
}

table.spells_table tr td:first-of-type {
    text-align: left;
    padding-left: 5px;
}

table.spells_table tr td:not(:last-of-type) {
    border-right: 2px solid #C9b999;
}

/* spells end section */